@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/phone-background.png);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  header-text h1 {
    font-size: 30px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  /* nav .fa-bars {
    display: block;
    font-size: 25px;
  } */

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
